.add-products__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}

.add-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 34px;
  position: relative;
  width: fit-content;
  background-color: #ffffff;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 80px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 78px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: 9px;
    right: 0;
    height: 2px;
    background: $bg-basic-green;
    z-index: -1;
    box-shadow: 100vw 0 0 0 $bg-basic-green;

    @media (min-width: $tablet-width) {
      top: 13px;
    }

    @media (min-width: $desktop-width) {
      top: 18px;
    }
  }
}

.add-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 1px solid $special-gray;
  }

  @media (min-width: $desktop-width) {
    min-width: 896px;
    margin: 0;
    border: none;
  }
}

.add-products__item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;
  border-bottom: 1px solid $special-gray;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 285px 244px;
    column-gap: 42px;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 17px;
  }

  &:last-child {
    border-bottom: 1px solid $special-gray;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      border-bottom: 1px solid $special-gray;
    }
  }

  &:first-child {
    border-top: 1px solid $special-gray;

    @media (min-width: $tablet-width) {
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      border-top: 1px solid $special-gray;
    }
  }
}

.add-products__item-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  align-self: start;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    align-self: center;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.add-products__item-description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: lowercase;
  color: #444444;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    gap: 20px;
  }
}

.add-products__item-description p {
  margin-top: 12px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.add-products__item-price {
  @media (min-width: $tablet-width) {
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    min-width: 42px;
    padding-right: 0;
  }
}

.add-products__gift {
  background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/gift-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #444444;
  display: block;
  min-height: 290px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/gift-background-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("/icons/stack.svg#gift");
    width: 78px;
    height: 80px;
    top: 59px;
    left: calc(50% - 39px);

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 77px;
      width: 80px;
      height: 83px;
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: calc(50% - 42px);
    }
  }

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/gift-background-tablet@1x.jpg");
    min-height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/gift-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/gift-background-desctop@1x.jpg");
    min-height: 288px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/gift-background-desctop@2x.jpg");
    }
  }
}

.add-products__gift-title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 187px 61px 15px 58px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 71px;
    padding-right: 125px;
    padding-left: 421px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 25px 43px;
    text-align: center;
  }
}
