.button {
  @include button;
}

.button--big {
  @include button;
  font-size: 20px;
  line-height: 26px;
  padding: 10px 109px;
}

.button--order {
  @include button;
  width: 100%;
  grid-column: 1/-1;
}

.button--show-all {
  @include button;
  color: $base-color-text;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
