.button {
  @include button;
}

.button--big {
  @include button;
  font-size: 20px;
  line-height: 26px;
  min-width: 256px;
  padding: 15px;
  border: none;
}

.button--main-products-order {
  @include button;
  width: 100%;
  grid-column: 1/-1;
  margin: 0;
}

.button--show-all {
  @include button;
  color: $base-color-text;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
}

.button--add-products-order {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: unset;
    padding: 10px 91px;
  }
}
