.contacts__wrapper {
  background-color: $bg-light-gray;
}

.contacts__intro {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
