.contacts {
  position: relative;
}

.contacts__wrapper {
  padding: 26px 20px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px;
    position: absolute;
    top: 95px;
    left: calc(50% - 615px);
    width: 407px;
    align-items: center;
  }
}

.contacts__intro {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  min-width: 50%;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    min-width: unset;
  }
}

.contacts__address {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  display: block;
  border: none;
  width: 100%;
}

.contacts__map-wrapper {
  width: 100%;
  overflow-x: hidden;
}
