.extra {

}

.extra__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.extra__list {
  list-style: none;
}

.extra__item {

}

.extra__control-name {
  text-transform: uppercase;
}
