.features {

}

.features__wrapper {

}

.features__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.features__list {
  list-style: none;
}

.features__item {

}
