.features__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 49px;
}

.features__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.features__list {
  list-style: none;
  display: grid;
  grid-auto-rows: minmax(60px, auto);
  row-gap: 20px;
  margin: 0;
  padding: 0;
}

.features__item {
  position: relative;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $bg-basic-green;
    background-size: 60px 60px;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 15px;
    left: 17px;
    background-repeat: no-repeat;
  }
}

.features__item--nutrients {
  position: relative;

  &::after {
    background-image: url("../../icons/stack.svg#leaf");
    background-size: 30px 32px;
  }
}

.features__item--powder {
  position: relative;

  &::after {
    background-image: url("../../icons/stack.svg#glass");
    background-size: 26px 29px;
  }
}

.features__item--replace {
  position: relative;

  &::after {
    background-image: url("../../icons/stack.svg#tablewear");
    background-size: 25px 30px;
  }
}

.features__item--changes {
  position: relative;

  &::after {
    background-image: url("../../icons/stack.svg#clock");
    background-size: 26px 31px;
  }
}
