.footer {

}

.footer__wrapper {

}

.footer__logo-link {

}

.footer__logo {

}

.footer__socials-list {
  list-style: none;
}

.footer__socials-item {

}

.footer__socials-link {

}

.footer__htmlacademy {
  text-decoration: none;
  color: $base-color-text;
}

.footer__htmlacademy-name {

}

.footer__htmlacademy-logo {

}
