.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  height: 66px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 38px;
  margin: 13px 21px 14px 20px;

  @media (min-width: $tablet-width) {

  }
}

.main-header__link-logo {
  align-items: center;
}

.main-header__link-name {
  align-self: center;
}
