.main-header--no-js .main-header__toggle {
  display: none;
}

.main-header {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $bg-light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-header--catalog {
  &::after {
    background-color: #d9d9d9;
  }
}

.main-header__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: 38px;
  margin: 13px 20px 14px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    height: 50px;
    padding: 0;
    justify-content: start;
    gap: 13px;
    margin: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.main-header__link {
  align-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-name {
  display: block;
}

.main-header__toggle {
  place-self: center end;
  background-position: center;
  padding: 20px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__toggle--open {
  background-image: url("../../icons/stack.svg#burger-menu");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  transform: translateX(8px);
}

.main-header__toggle--close {
  background-image: url("../../icons/stack.svg#close-button");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  transform: translateX(10px);
}
