.main-products__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 30px 30px 74px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.main-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 56px 60px;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 73px 80px;
  }
}

.main-products__card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  gap: 17px 0;
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;


  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    background: linear-gradient(to bottom, #ffffff 84px, $bg-light-gray 84px);
    gap: unset;
    padding: 0 38px 40px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff 70px, $bg-light-gray 70px);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: calc(100% + 40px);
    height: 1px;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    display: none;
  }
}

.main-products br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-products__description {
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.main-products__link-title {
  text-decoration: none;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: center;
    align-self: center;
  }
}

.main-products__link-img {
  place-self: center center;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.main-products__item-img {
  display: block;
  width: 100%;
}

.main-products__item-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
  width: 76px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.main-products__item-parameter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;

  @media (min-width: $tablet-width) {
    row-gap: 0;
  }
}

.main-products__item-parameter {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 4px;
    padding-top: 5px;
    border-bottom: 1px solid $special-gray;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
    padding-top: 7px;
  }
}

.main-products__item-parameter-value {
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 4px;
    padding-top: 6px;
    border-bottom: 1px solid $special-gray;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
    padding-top: 7px;
  }
}

.main-products__card--more {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-top: 25px;
  position: relative;
  background: unset;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    min-height: 470px;
  }

  @media (min-width: $desktop-width) {
    min-height: 460px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% - 85px);
      left: 0;
      bottom: 0;
      border: 1px solid $special-gray;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      height: calc(100% - 72px);
    }
  }
}

.main-products__promo {
  margin: 55px 38px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $dark-color-text;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 244px 0 23px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 220px 0 26px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#plus");
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: -54px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      top: -110px;
      background-image: url("../../icons/stack.svg#plus-tablet");
    }

    @media (min-width: $desktop-width) {
      top: -100px;
    }
  }
}

.main-products__slogan {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    margin-left: 37px;
    margin-right: 37px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 90px;
  }
}
