.main-products__list {
  list-style: none;
}

.main-products__link-title {
  text-decoration: none;
}

.main-products__item-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.main-products__item-parameter-list {
  list-style: none;
}

.main-products__item-parameter {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.main-products__item-parameter-value {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.main-products__show-more-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.main-products__show-more-description {
  font-size: 12px;
  line-height: 16px;
}
