.nav {
  width: 100%;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 32px;
  }
}

.nav--no-js .nav__list {
  position: static;
}

.nav__list {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: static;
    flex-direction: row;
    justify-content: start;
    gap: 34px;
    row-gap: 10px;
    height: 36px;
    background-color: transparent;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }
}

.nav--is-closed .nav__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    width: unset;
    border-bottom: none;
  }
}

.nav--no-js .nav__item:first-child {
  border-top: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.nav__link {
  position: relative;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 5px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $bg-basic-green;
    left: 0;
    bottom: 0;
  }
}

.nav--index .nav__link {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.nav--index .nav__link--current::after {
  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
