.owner-contacts__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.owner-contacts__list {
  list-style: none;
}

.owner-contacts__item-label {
  text-transform: uppercase;
}

.owner-contacts__input {
  font-family: inherit;
  text-transform: uppercase;
}

.owner-contacts__input--email {
  background-image: url("../../icons/stack.svg#email");
}

.owner-contacts__input--tel {
  background-image: url("../../icons/stack.svg#phone");
}
