.page {

}

.page__body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.page__body-forms {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $base-color-text;
}
