.parameters {

}

.parameters__list {
  list-style: none;
}

.parameters__item {

}

.parameters__item-label {
  text-transform: uppercase;
}

.parameters__item-input {
  font-family: inherit;
  text-transform: uppercase;
}
