.program-selection__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.program-selection__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.program-selection__legend {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
