.program__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.program__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program__item {
  background-color: $bg-light-gray;
  position: relative;
  padding-left: 20px;
  padding-bottom: 18px;
  padding-top: 21px;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $bg-basic-green;
    border-radius: 50%;
  }
}

.program__item--slim {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    background-image: url("../../icons/stack.svg#sitting-cat");
    background-size: 50px 53px;
    top: 17px;
    left: 20px;
  }
}

.program__item--pro {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#going-cat");
    background-size: 67px 28px;
    top: 35px;
    left: 13px;
  }
}

.program__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-bottom: 29px;
}

.program__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.program__link--slim {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background-color: #000000;
    mask-image: url("../../icons/stack.svg#arrow-right");
    mask-size: 24px 12px;
  }
}

.program__link--pro {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background-color: #000000;
    mask-image: url("../../icons/stack.svg#arrow-right");
    mask-size: 24px 12px;
  }
}

.program__description {
  padding-bottom: 42px;
}
