.promo {

}

.promo__wrapper {

}

.promo__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  // color: #ffffff;
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  // color: #ffffff;
  text-transform: uppercase;
}

.promo__select-program {

}
