.promo {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 480px;
  background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  background-size: contain;
}

.promo__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
