.section-container {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.section-container--header {
  display: grid;
  grid-template-rows: auto;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-top: 55px;
  }
}

.section-container--promo {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    align-items: start;
    width: 1220px;
    margin: 0 auto;
  }
}

.section-container--program {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 71px;
  }
}

.section-container--features {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 69px;
    width: 1220px;
  }
}

.section-container--example {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 224px;
    width: 1220px;
    margin: 0 auto;
  }
}

.section-container--footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 41px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 66px auto;
    width: 1220px;
  }
}

.section-container--main-products {
  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 71px;
  }
}

.section-container--add-products {
  margin-top: 25px;

  @media (min-width: $desktop-width) {
    width: 1338px;
    margin: 0 auto;
  }
}
