.subscribe__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: 68px;
    margin-right: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 344px;
    margin-right: 344px;
  }
}

.subscribe__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 110px;
  }
}

.subscribe__description {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
  }
}

.subscribe__form-input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}
