.subscribe {
  margin: 40px 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 104px;
    margin-top: 96px;
  }
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: 48px;
    margin-right: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 234px;
    margin-right: 234px;
  }
}

.subscribe__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 32px;
  position: relative;
  width: fit-content;
  background-color: #ffffff;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-left: 50px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 75px;
    margin-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: 9px;
    right: 0;
    height: 2px;
    background: $bg-basic-green;
    z-index: -1;
    box-shadow: 100vw 0 0 0 $bg-basic-green;

    @media (min-width: $tablet-width) {
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }
}

.subscribe__description {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

.subscribe__form-input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  text-align: left;
  padding: 12px;
  color: #444444;
  border: 1px solid $special-gray;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
